<ng-container *ngIf="myProfileForm">
  <form id="my-profile-form" [formGroup]="myProfileForm" (ngSubmit)="onSubmit()">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Personal Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-label class="label">Username</mat-label>
            <mat-form-field class="full-width">
              <input matInput formControlName="username" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-label class="label">Email</mat-label>
            <mat-form-field class="full-width">
              <input matInput formControlName="email" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-label class="label">First Name</mat-label>
            <mat-form-field class="full-width">
              <input matInput formControlName="firstName" readonly>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-label class="label">Last Name</mat-label>
            <mat-form-field class="full-width">
              <input matInput formControlName="lastName" readonly>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Marketing Preferences</mat-card-title>
      </mat-card-header>
      <mat-card-content formGroupName="marketingPreferences">
        <div class="row marketing-preferences-row">
          <div class="marketing-preferences-property">
            <mat-slide-toggle formControlName="email" labelPosition="before">Email</mat-slide-toggle>
          </div>
          <div class="marketing-preferences-property">
            <mat-slide-toggle formControlName="phone" labelPosition="before">Phone</mat-slide-toggle>
          </div>
          <div class="marketing-preferences-property">
            <mat-slide-toggle formControlName="sms" labelPosition="before">SMS</mat-slide-toggle>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="submit-button-container">
      <span class="spacer"></span>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</ng-container>
