<ng-container *ngIf="marketingPreferencesCentreForm">
  <form id="marketing-preferences-centre-form" [formGroup]="marketingPreferencesCentreForm">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Marketing Preferences</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row marketing-preferences-row">
          <div class="marketing-preferences-property">
            <mat-slide-toggle formControlName="email" labelPosition="before">Email</mat-slide-toggle>
          </div>
          <div class="marketing-preferences-property">
            <mat-slide-toggle formControlName="phone" labelPosition="before">Phone</mat-slide-toggle>
          </div>
          <div class="marketing-preferences-property">
            <mat-slide-toggle formControlName="sms" labelPosition="before">SMS</mat-slide-toggle>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="save-button">
      <button mat-flat-button (click)="saveMarketingPreference()">Save</button>
    </div>
  </form>
</ng-container>
