<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <a class="btn btn-ghost">
      <img
        ngSrc="assets/falc-logo.svg"
        alt="FALC Logo"
        priority=""
        height="150"
        width="200"
        (click)="navigateToHomePage()"
      />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
    </ul>
  </div>
  <div class="navbar-end">
    @if (loginResponse$ | async; as loginResponse) {
      @if (loginResponse.isAuthenticated) {
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            {{ loginResponse | userInitials }}
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
            <li><a (click)="navigateToMyProfile()">My Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      } @else {
        <a class="btn" (click)="navigateToLoginPage()">SIGN IN</a>
      }
    } @else {
      <a class="btn" (click)="navigateToLoginPage()">SIGN IN</a>
    }
  </div>
</div>
